.sidebar__container{
  background: #ffffff;
  height: 75vh;
  width: 20%;
  padding: 20px;
  box-shadow: 20px 35px 50px rgba(0,0,0,0.07);
  border-radius: 12px ;
  position: relative;

}

.sidebar__user-profile{

  &-container{
    text-align: center;
  }

  &__image{
    display: block;
    max-width: 80px;
    height: auto;
    padding: 20px;
    border-radius: 100%;
    background: #ffffff;
    box-sizing: border-box;
    box-shadow: 20px 35px 50px rgba(0,0,0,0.07);
    margin: 0 auto;
    margin-top: -45px;
  }
  &--img {
    display: block;
    width: 100%;
    height: 100%;
  }
  &--name{
    margin-top: 15px;
  }
  &--email{
    font-size: 12px;
    line-height: 0px;
    color: var(--secondary-color);
  }
}

.sidebar__nav-container{
  height: calc(75vh - 130px);
  overflow-y: scroll;
  margin-top: 40px;
  padding-top: 10px;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    display: none;
    width: 0.35em;
    border-radius: 100px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba($color: var(--secondary-color), $alpha:0.3);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 150px;
    padding: 10px;
  }
}
.sidebar__nav-container:hover::-webkit-scrollbar{
  display: block;
}

.sidebar__nav-links{
  box-sizing: border-box;
  &:not(:first-child){
    margin-top: 40px;
  }
  & h3{
    padding-left: 20px;
  }
  & ul{
    margin: 20px 0px;
    padding-left: 20px;
  }

  & li{
    padding: 10px 0px;

    & a{
      text-decoration: none;
      text-transform: capitalize;
      color: black;
      font-weight: 600;
    }
    & img{
      display: inline;
      margin-right: 20px;
    }
  }

}