main{
  margin-left:30px;
}
.navigation-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;

  div{
    display: flex;
    align-items: center;
    :not(:first-child){
      margin-left:1.2rem;
    }
  }

  & .search-bar{
    display: flex;
    align-items: center;
    & input{
      display: block;
      width: 13rem;
      border: none;
      outline: none;
      letter-spacing: 0.1rem;
      background: none;
      font-weight: 500;
      font-style: italic;
      vertical-align: center;
    }
  }

  & #upgrade-button{
    background: none;
    outline: none;
    border: 3px solid var(--secondary-color);
    padding: 0.6rem 1rem;
    border-radius: 12px;
    font-size: 0.95rem;
    text-transform: capitalize;
    font-weight: 600;
  }
}

.recommanded-album__container{
  display: flex;
  flex: 1;
  flex-direction: column;
  & h1{
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
}

.recommanded-album__art{
  & > div:first-child{
    display: flex;
    height: 140px;
    position: relative;

  }
   & .album-img{
     display: block;
     width: auto;
     height:100%;
     position: absolute;
     top: 0;
     left: 0;
     z-index: 2;
   }
  & .album-vinly{
    box-sizing: border-box;
    padding: 5px;
    display: block;
    width: auto;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(50%);
    z-index: 1;
  }
}

.popular-music__container{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-right: 40px;
  flex: 1;
  & h1{
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
}

.popular-music__list{

  height: calc((100vh - 85px)*0.40 - 62px);
  overflow-y: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    display: none;
    width: 0.35em;
    border-radius: 100px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba($color: var(--secondary-color), $alpha:0.3);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 150px;
    padding: 10px;
  }

  & li{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;

    & >*{
      margin-right: 15px;
    }
    & .track-play{
      display: flex;
      align-items: center;
    }
    & .music-thumb{
      height: 70px;
      width: 70px;
      border-radius: 100%;
      overflow: hidden;
      & img{
        width: auto;
        height: 100%;
      }
    }
    & .track__detail{
      min-width: 300px;
    }
  }
}