.top-music__container{
  display: block;
  height: calc((100vh - 85px)*0.4);
  & h1{
    font-size: 1.4rem;
  }

  & .album__container{
    & div{
      overflow: hidden;
      max-width: 220px;
      max-height: 220px;
      border-radius: 12px;
      @media (min-width:1440px) {
        width: 340px;
        height: 340px;
      }
      @media (min-width:1920px) {
        width: 420px;
        height: 420px;
      }
      & img{
        display: block;
        height: 100%;
        width: 100%;
      }
    }

    & h3{
      font-size: 0.85rem;
    }
  }
}