.bottom__container{
  background: #fff;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  height: 85px;
  width: 100vw;
  box-sizing: border-box;
  padding: 0px 54px;
  display: flex;
  align-content: center;
  position: fixed;
  bottom: 0;
}

.music__album{
  display: flex;
  flex: 1;
  align-items: center;

  &__image{
    display: block;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    &--img{
      display: block;
      width: 100%;
      height: 100%;
    }

  }

  &__description{

    &--name{
      font-weight: 700;
      margin-bottom: 0px;
    }

    &--code{
      line-height: 0px;
      font-weight: 400;
    }

  }
}

.music__player{
  display: flex;
  flex: 5;
  align-content: center;
  justify-content: space-between;
}

.player-controls{
  display: flex;
  align-items: center;
  justify-content: space-between;
  & .pause-song{
    border: 2px solid black;
    border-radius: 1000px;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 20px;
    color: var(--secondary-color);
    line-height: 0px;
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 15px;
  }
}

.player-timeline{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  & .song-time{
    padding: 0px 30px;
  }

  & input {
    position: relative;
    width: 90%;
    height: 2px;
    background: #AFD1E8;
    z-index: 10;
    transition: all 0.5s ease;
  }
    & ::-webkit-slider-runnable-track{
      height: 5px;
      //width: 20%;
      background-color: var(--secondary-color);
      z-index: 15;
      transition: all 0.7s ease;
      -webkit-appearance: none;
    }

    & ::-webkit-slider-thumb{
      background: var(--secondary-color);
      box-shadow: 0px 0px 5px rgba(0,0,0,0.7) ;
      transition: all 0.7s ease;
      -webkit-appearance: none;
      width: 30px;
      height: 30px;
      margin-top: -15px;
      border-radius: 100%;
      border: 10px solid white;
    }

}
input[type=range] {
  -webkit-appearance: none;
  margin: 20px 0;
  width: 100%;
  outline: none;
}

.music__options{
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  & img{
    height: 20px;
    weight: 20px;
    padding: 20px;
  }
}