:root{
  --secondary-color: #5E77FB;
}

.App {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: ghostwhite;
  box-sizing: border-box;
}
.App > .wrapper{
  padding: 30px;
  display: flex;
}
